.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-top: 50px;
}

.labelFlex {
  display: flex;
  flex-direction: column;
}

.logBtn {
  background-color: #213547;
}

.logBtn:hover {
  background-color: #646cff;
}
