.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border: 1px solid grey;
  border-radius: 5px;
  width: 395px;
  padding: 0 9px 0 9px;
  gap: 5px;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  gap: 20px;
}

.deleteBtn {
  background-color: #f01f30;
}

.editBtn {
  background-color: #213547;
}

.iconName {
  width: 24px;
  height: 24px;
}
.iconNum {
  width: 20px;
  height: 20px;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.modalContactName {
  font-weight: 500;
  margin: 0;
}

.modal {
  margin-bottom: 0;
}

.editLabel {
  display: flex;
  flex-direction: column;
  width: 300px;
  font-weight: 500;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
