.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 395px;
  padding: 10px 9px;
  border: 1px solid grey;
  border-radius: 5px;
}

.addContactBtn {
  background-color: #213547;
  width: 200px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  width: 100%;
}

.inputName {
  border: 1px solid grey;
  width: 383px;
}

.inputNumber {
  margin-bottom: 10px;
  border: 1px solid grey;
  width: 383px;
}
